.projectsBlock {
    height: 100vh;
    background-color: mediumpurple;
}
.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    display: flex;
    justify-content: center;
    background-color: grey;
}

.projects {
    border: 2px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}